@import "global";

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include themify(){
        background-color: has(bg);
    }
}
.containerDescription {
    display: flex;
    width: 100%;
    max-width: has(md);
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 2rem;
    p {
        color: #0b0b0b;
        padding: 2rem;
        text-align: justify;
    }
    h2 {
        padding: 1rem;
        text-align: center;
    }
    @include respondMax(md) {
        flex-direction: column;
    }
}
.text {
    width: 100%;
    line-height: 3.5rem;
    @include respondMax(md) {
        padding-right: 0rem;
    }
    padding-right: 2rem;
}
.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scriptImg{
    position: relative;
    margin-bottom: 1em;
    width: 100%;
    img {
        object-fit: contain;
    }
  }
.coverContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 100%;
    width: 100%;
    word-spacing: 0;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
  }
  .coverimg{
    position: relative;
    width: 100%;
    height: calc(100vh - 7rem);

    img {
        object-fit: cover;
    }
  }
  .shadow {
    position: absolute;
    width: 100%;
    height: calc(100vh - 7rem);;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  }