@import "global";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: has(clr-bg);
}
.containerDescription {
    display: flex;
    width: 100%;
    max-width: has(md);
    justify-content: center;
    align-items: center;
    @include themify(){
        background-color: has(clr-bg);
    }
    p {
        @include themify(){
            color: has(clr-bg-inverse)
        }
    }
    @include respondMax(md) {
        flex-direction: column;
    }
}
.text {
    padding: 8rem;
    @include respondMax(md) {
        padding: 5rem;
    }
}
.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 8rem;
    @include respondMax(md) {
        margin: 0rem;
    }
    img {
        object-fit: cover;
    }
}
.coverContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 100%;
    width: 100%;
    word-spacing: 0;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
  }
  .coverimg{
    position: relative;
    width: 100%;
    height: calc(100vh - 7rem);

    img {
        object-fit: cover;
    }
  }
  .shadow {
    position: absolute;
    width: 100%;
    height: calc(100vh - 7rem);;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  }