@import "global";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include themify(){
        background-color: has(bg);
    }}
.containerDescription {
    display: flex;
    width: 100%;
    max-width: has(md);
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    p {
        @include themify(){
            color: has(clr-bg-inverse)
        }    }
    @include respondMax(md) {
        flex-direction: column;
    }
}
.text {
    padding: 8rem;
    @include respondMax(md) {
        padding: 5rem;
    }
}
.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 8rem;
    @include respondMax(md) {
        margin: 0rem;
    }
    img {
        object-fit: cover;
    }
}
