@import 'global';

.slide {
    padding-left: 10px;
    min-width: 100%;
    position: relative;
  }
  
  .slideInner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
    overflow: hidden;
  }
  
  .slideImg {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;
  }
  
  .slide .hasLoaded .slideImg {
    opacity: 1;
  }