@import 'global';

.embla {
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .viewport.is-dragging {
    cursor: grabbing;
  }
  
  .container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .slide {
    padding-left: 10px;
    min-width: 100%;
    position: relative;
  }
  
  .slideInner {
    position: relative;
    overflow: hidden;
    height: 190px;
  }
  
  .slideImg {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
  }
  
  .thumb {
    padding-top: 0;
    margin-top: -12px;
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .containerThumb {
    cursor: default;
    margin-left: -8px;
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .slideThumb {
    padding-left: 8px;
    min-width: 20%;
  }
  
  .slideInnerThumb {
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    background-color: transparent;
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .slideThumbnail {
    position: absolute;
    opacity: 0.2;
    top: 0;
    bottom: 0;
    left: -10000%;
    right: -10000%;
    margin: auto;
    min-width: 1000%;
    min-height: 1000%;
    max-width: none;
    transform: scale(0.1);
    transition: opacity 0.2s;
  }
  
  .slideThumb .is-selected .embla__slide__thumbnail {
    opacity: 1;
  }
  