@import 'global';

.container {
    width: 100%;
    // max-width: 102.4rem;
    max-width: has(lg);
    // max-width: 64em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerDescription {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    p {
        margin: 2rem;
        color: #0b0b0b;
    }
}
.containerCover {
    width: 100%;
    }