@import 'global';

.container {
    h2 {
        margin-bottom: 2rem;
    }
}
.contentContainer {
    background-color: $clr-neutral-2;
    padding: 1.6rem;
    border-radius: 1rem;
    textarea {
        font-size: 2rem;
        line-height: 2rem;
        padding: 1.6rem;
        border-radius: 0.5rem;
        resize: none;
        @include themify(){
            background-color: has(clr-bg);
        }
    }
    button {
        font-size: 2rem;
        padding: 1.6rem;
        width: max-content;
        @include themify(){
            color: has(clr-text);
            background-color: has(clr-text-inverse);
            border-radius: 0.5rem;
        }
    }
}