@import 'global';

.embla {
    position: relative;
    @include themify(){
      background-color: has(clr-bg);
    }
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .emblaViewport {
    overflow: hidden;
    width: auto;
    height: min-content;
  }
  
  .emblaViewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .emblaViewport.is-dragging {
    cursor: grabbing;
  }
  
  .emblaContainer {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .slide {
    display: flex;
    min-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    @include respondMax(md){
      flex-direction: column;
    }
  }
  .slideInner {
    position: relative;
    overflow: hidden;
    height: min-content;
    width: min-content;
    margin: 0rem 5rem;
    justify-content: center;
    align-items: center;
    @include respondMax(md){
      width: auto;
      margin: 0rem;
    }
  }
  
  .slideImg {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    @include respondMax(md){
      justify-content: center;
    }
  }
  .text {
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    @include respondMax(md){
      flex-direction: row;
      width: 100%;
    }
    @include respondMax(sm){
      flex-direction: column;
    }
  }
  .image{
    position: relative;
    margin-bottom: 1em;
    width: 1000px;
    height: auto;
    img {
        object-fit: contain;
    }
}
.slideOuter {
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  @include respondMax(md){
    width: 100%;
    padding: 0;
  }
}
.navButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  p {
    margin: 0 2rem;
  }
}
.scriptWidth {
  display: flex;
  justify-content: center;
  width: 100%;
}
.scriptImg{
  position: relative;
  margin-bottom: 1em;
  width: 300px;
  height: 200px;
  img {
      object-fit: contain;
  }
}
.textDesc {
  @include respondMax(md){
    width: 100%;
  }
  p{
    margin: 2rem;
  }
  h4{
    margin: 2rem;
  }
}
