@import "global";

.container {
  display: flex;
  width: 100%;
  @include themify(){
    background-color: has(clr-bg);
  }
  justify-content: center;
  padding-top: 3em;
  h1 {
    padding: 1.5em 0;
    text-transform: none;
    color: $clr-neutral-8;
    letter-spacing: 0;
    font-size: 2em;
    @include respondMax(md) {
      font-size: 1.5em;
    }
  }
}
.content {
  width: 90%;
  max-width: map-get($map: $breakpoints, $key: md);
  display: flex;
  flex-direction: column;
  h2 {
    letter-spacing: normal;
    padding: 0.5em 0;
    font-size: 1.2em;
  }
  hr{
    width: 100%;
  }
}
.contentTop{
  display: flex;
  padding: 2em 0;
  p{
    @include themify(){
      color: has(clr-text);
    }
    padding: 0.2em 0;
  }
  @include respondMax(md) {
    flex-direction: column;
  }
}
.contentLeft {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  p{
    display: flex;
    flex-direction: column;
  }
  @include respondMax(sm) {
    flex-direction: column;
  }
  .web {
    p {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.contentRight {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  @include respondMax(sm) {
    flex-direction: column;
  }
  .strategy {
    @include respondMax(md) {
      margin-left: 20%;
    }
    @include respondMax(sm) {
      margin-left: 0;
        }
  }
  p {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.socialContainer {
  display: flex;
  margin: 2em 0;
}
.webDesign {
  display: flex;
  @include respondMax(md) {
    flex-direction: column;
  }
}
.design, .web, .strategy {
  margin-right: 1em;
}
.legal {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  span {
    cursor: pointer;
    color: $clr-neutral-7;
    &:not(:first-of-type) {
      margin-left: 1em;
    }
    &:hover {
      color: $clr-neutral-5;
    }
  }
  p,span {
    color: $clr-neutral-6;
  }
  @include respondMax(md) {
    font-size: 0.8em;
  }
}

.legalLeft {
  @include respondMax(md) {
    margin-bottom: 3em;
  }
}