@import 'global';

.container {
    h2 {
        margin-bottom: 1.6rem;
    }
}
.updateContainer {
    height: 32.4rem;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 0.8rem;
    }
    &::-webkit-scrollbar-track{
        background-color: $clr-neutral-2;
        border-radius: 0.6rem;
    }
    &::-webkit-scrollbar-thumb{
        @include themify(){
            background: linear-gradient(transparent, has(clr-text));
        }
        border-radius: 0.6rem;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(transparent, $clr-primary);
    }
}
.project {
    border: 0.1rem solid $clr-neutral-2;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1.6rem;
    margin-right: 1rem;
    &:not(:last-of-type){
        margin-bottom: 1.6rem;
    }
}
.projectName {
    margin-bottom: 1.6rem;
}
.name {
    color: $clr-primary;
}
.version {
    color: $clr-secondary;
}
.arrow::after{
    content: ' \279C    ';
    font-size: 2rem;
}
