@import "global";

.container {
  width: 100vw;
  max-width: 100%;
  height: 7rem;
  @include themify() {
    background-color: rgba(has(clr-bg), $alpha: 0.2);
  }
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.nav {
  width: 90%;
  // max-width: 102.4rem;
  max-width: map-get($map: $breakpoints, $key: lg);
  // max-width: 90em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}