@import 'global';

.container {
    display: flex;
}
.content {
    padding: 1.6rem;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    span {
        color: $clr-secondary;
    }
    margin-bottom: 1.6rem;
}
.arrow {

}
