@import 'global';

.container {
    padding: 1.6rem;
    background-color: $clr-neutral-0;
    border-radius: 1rem;
}
.contentContainer {
    padding: 1.6rem;
    textarea {
        @include themify(){
            background: has(clr-bg);
        }
        border-radius: 0.5rem;
        padding: 1.6rem;
        resize: none;
        overflow: hidden;
    }
    button {
        border-radius: 0.5rem;
        width: max-content;
        padding: 1.6rem;
        background-color: $clr-neutral-2;
        @include themify(){
            color: has(clr-text)
        }
    }
}
.header {
    display: flex;
    justify-content:space-between;

}