@import "global";
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include themify() {
    background-color: rgba($color: has(clr-bg), $alpha: 1);
  }
  z-index: -1;
}
.menuContainer {
  display: flex;
  flex-direction: column;
  p {
    margin: 1rem;
    margin-left: 3rem;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .linked {
    margin-bottom: 2rem;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .active {
    user-select: none;
    text-decoration: underline;
    margin-bottom: 2rem;
  }
}